.nav a:hover{
    background-color: rgb(141, 141, 141);
}
@media (max-width: 900px){
    .nav_btn{
        display: block;
        border: none;
        background-color: black;
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 2px;
        color: white;
        cursor: pointer;
    }
    .drop:hover .nav{
        display: block;
        position: absolute;
        background-color: black;

    }
    .nav{
        display: none;
    }
}
@media (max-width: 800px) {
    main{    
        display: grid;
        position: absolute;
        top: 500px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3);
        
    }
}
@media (max-width: 500px) {
    main{    
        display: grid;
        position: absolute;
        top: 500px;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6);
        width: 100%;
    }
    .card{
        margin-inline: 0;
    }
    footer{
        top: 1756px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}